In [282]:
import numpy as np
import pandas as pd
from collections import  Counter

In [283]:
credit = pd.read_csv('../Xtrain.csv')
print(credit.shape)
credit =credit.drop_duplicates()
print(credit.shape)

(50000, 24)
(50000, 24)

In [284]:
train_y = pd.read_csv('../Ytrain.csv')
train_y.shape

(50000, 2)

In [285]:
# 在输入数据中加入label 方便操作
credit.insert(24,'MIS_Status',train_y.ChargeOff)

In [286]:
credit.dtypes.index

Index(['Id', 'Name', 'City', 'State', 'Zip', 'Bank', 'BankState', 'NAICS',
       'ApprovalDate', 'ApprovalFY', 'Term', 'NoEmp', 'NewExist', 'CreateJob',
       'RetainedJob', 'FranchiseCode', 'UrbanRural', 'RevLineCr', 'LowDoc',
       'DisbursementDate', 'DisbursementGross', 'BalanceGross', 'GrAppv',
       'SBA_Appv', 'MIS_Status'],
      dtype='object')

In [287]:
currency = [20,21,22,23]
for i in currency:
    credit[credit.columns[i]] = credit[credit.columns[i]].replace('[\$,]', '', regex=True).astype(float)

In [288]:
Counter(credit.State).keys()

dict_keys(['FL', 'UT', 'CA', 'WI', 'MO', 'CO', 'NV', 'MD', 'OH', 'TX', 'VA', 'KS', 'MA', 'IA', 'GA', 'WA', 'IL', 'NE', 'ND', 'RI', 'AZ', 'MN', 'WY', 'NJ', 'OK', 'NY', 'CT', 'IN', 'HI', 'ID', 'KY', 'PA', 'MI', 'AR', 'TN', 'NH', 'MT', 'OR', 'WV', 'MS', 'NC', 'SD', 'AL', 'DE', 'DC', 'LA', 'AK', 'ME', 'VT', 'SC', 'NM'])

In [289]:
Counter(credit.BankState).keys()

dict_keys(['DE', 'UT', 'NC', 'WI', 'MO', 'CO', 'SD', 'MD', 'NY', 'CA', 'OH', 'VA', 'NJ', 'MA', 'IA', 'TX', 'WA', 'IL', 'NE', 'RI', 'AZ', 'MN', 'SC', 'WY', 'AL', 'OK', 'IN', 'ID', 'KY', 'NV', 'MI', 'HI', 'AR', 'PA', 'KS', 'FL', 'MT', 'GA', 'OR', nan, 'WV', 'MS', 'NM', 'NH', 'CT', 'TN', 'DC', 'LA', 'ND', 'VT', 'ME', 'AK', 'PR'])

In [290]:
# credit = pd.concat([credit,pd.get_dummies(credit.State)],axis=1)
# credit = pd.concat([credit,pd.get_dummies(credit.BankState)],axis=1)
# credit.head()

In [291]:
credit = credit.drop(axis =1, columns = ['Id','City','Name','Bank', 'BankState', 'DisbursementDate', 'RevLineCr','State','NAICS'])
credit = credit.drop(axis =1, columns = ['Zip','ApprovalDate','ApprovalFY','BalanceGross','SBA_Appv'])

In [292]:
Counter(train_y.ChargeOff)
## 样本均衡

Counter({0: 25152, 1: 24848})

In [293]:
## 金额由str转为float 

credit.head()

,Term,NoEmp,NewExist,CreateJob,RetainedJob,FranchiseCode,UrbanRural,LowDoc,DisbursementGross,MIS_Status
0,130,25,1.0,2,0,0,1,N,2000000.0,0
1,33,6,1.0,1,3,0,1,N,17000.0,1
2,60,1,1.0,1,1,1,1,N,17000.0,0
3,160,1,2.0,0,0,1,0,N,137000.0,0
4,101,2,1.0,7,2,1,1,N,46665.0,0

In [295]:
credit.isnull().sum()

Term                   0
NoEmp                  0
NewExist               7
CreateJob              0
RetainedJob            0
FranchiseCode          0
UrbanRural             0
LowDoc               172
DisbursementGross      0
MIS_Status             0
dtype: int64

# 处理NewExist 异常值

In [258]:
Counter(credit.NewExist)

Counter({1.0: 35636,
         2.0: 14328,
         0.0: 29,
         nan: 1,
         nan: 1,
         nan: 1,
         nan: 1,
         nan: 1,
         nan: 1,
         nan: 1})

In [259]:
#We have a feature 'RetainedJob' - From the document, it shows number of jobs retained. 
#I can assume that if loan retains some jobs it is an existing business.
# I will create a condition and iterate through loop to 
#assign new value "1" which is Existing business to those rows where Retained Job is >= 1
cond_2 = credit[(credit['NewExist'] == 0) & (credit['RetainedJob'] >=1)].index
for i in cond_2:
    credit.loc[i,['NewExist']] = 1

In [260]:
#Next we will do the same thing with another condition: isnull and Retained Job >=1
cond_3 = credit[(credit.NewExist.isnull()) & (credit['RetainedJob'] >=1)].index
for i in cond_3:
    credit.loc[i,['NewExist']] = 1    
    
credit = credit.dropna(axis =0, subset=['NewExist'])

# 处理LowDoc 异常值

In [261]:
# LowDoc 是一种立刻能得到15万刀的短期贷款
# 这里简单的删去 异常条目
Counter(credit.LowDoc)

Counter({'N': 44713,
         'Y': 4934,
         nan: 172,
         'S': 56,
         '0': 53,
         'C': 33,
         'A': 36,
         'R': 2})

In [262]:
cond_6 = credit[(credit['LowDoc'] != "Y") & (credit['LowDoc'] != "N")]
for i in cond_6.index:
    credit.loc[i,'LowDoc'] = np.nan

credit = credit.dropna(axis =0, subset=['LowDoc'])

In [263]:
def yes_no(i):
    if i > 0:
        return 1
    return 0

credit.Term = credit.Term//12
credit['IscreateJob'] = credit.CreateJob.apply(yes_no)
credit['IsRetained'] = credit.RetainedJob.apply(yes_no)
credit['IsFranchise'] = credit.FranchiseCode.apply(yes_no)

def lowdoc(i):
    if i == "Y":
        return 1
    return 0
credit.LowDoc = credit.LowDoc.apply(lowdoc)

In [264]:
#Split data into train and test sets + label target value
from sklearn.model_selection import train_test_split
y = credit.MIS_Status
X = credit.drop(['MIS_Status'], axis=1)
train_X, test_X, train_y, test_y = train_test_split(X, y, test_size=0.25, random_state=0)

In [275]:
credit.Term = credit.Term//12

,Term,NoEmp,NewExist,CreateJob,RetainedJob,FranchiseCode,UrbanRural,LowDoc,DisbursementGross,BalanceGross,GrAppv,SBA_Appv,IscreateJob,IsRetained,IsFranchise
0,10,25,1.0,2,0,0,1,0,2000000.0,0.0,2000000.0,1500000.0,1,0,0
1,2,6,1.0,1,3,0,1,0,17000.0,0.0,17000.0,17000.0,1,1,0
2,5,1,1.0,1,1,1,1,0,17000.0,0.0,17000.0,8500.0,1,1,1
3,13,1,2.0,0,0,1,0,0,137000.0,0.0,137000.0,123300.0,0,0,1
4,8,2,1.0,7,2,1,1,0,46665.0,0.0,25000.0,12500.0,1,1,1
5,22,3,1.0,1,2,1,2,0,400000.0,0.0,500000.0,375000.0,1,1,1
6,25,5,1.0,5,5,1,1,0,275000.0,0.0,275000.0,206250.0,1,1,1
7,8,1,2.0,0,1,0,2,0,75000.0,0.0,75000.0,67500.0,0,1,0
8,25,5,1.0,0,5,1,1,0,699300.0,0.0,699300.0,524475.0,0,1,1
9,0,15,1.0,5,15,0,2,0,100000.0,0.0,100000.0,50000.0,1,1,0
10,7,1,1.0,0,1,0,1,0,29262.0,0.0,25000.0,12500.0,0,1,0
11,7,11,2.0,3,11,0,1,0,25000.0,0.0,25000.0,12500.0,1,1,0
12,4,1,2.0,0,0,1,1,0,25000.0,0.0,25000.0,12500.0,0,0,1
13,8,18,1.0,11,18,9050,1,0,240000.0,0.0,240000.0,180000.0,1,1,1
14,1,3,2.0,0,3,0,1,0,38317.0,0.0,25000.0,12500.0,0,1,0
15,10,325,1.0,0,0,1,0,0,100000.0,0.0,100000.0,80000.0,0,0,1
16,7,25,1.0,0,0,25035,0,0,90000.0,0.0,90000.0,81000.0,0,0,1
17,20,14,1.0,0,14,1,2,0,459000.0,0.0,459000.0,459000.0,0,1,1
18,5,1,2.0,0,0,1,0,0,45000.0,0.0,45000.0,40500.0,0,0,1
19,2,20,1.0,0,20,1,1,0,350000.0,0.0,350000.0,262500.0,0,1,1
20,4,5,1.0,3,5,0,1,0,50000.0,0.0,50000.0,25000.0,1,1,0
21,7,5,1.0,0,5,1,1,0,15000.0,0.0,15000.0,7500.0,0,1,1
22,4,2,1.0,0,2,1,1,0,105318.0,0.0,40000.0,20000.0,0,1,1
23,5,2,2.0,8,2,0,1,0,312869.0,0.0,319000.0,239250.0,1,1,0
24,7,6,1.0,0,0,1,0,1,100000.0,0.0,100000.0,80000.0,0,0,1
25,6,30,2.0,0,0,1,1,0,250000.0,0.0,250000.0,187500.0,0,0,1
26,7,5,1.0,1,5,1,1,0,25000.0,0.0,25000.0,12500.0,1,1,1
27,1,8,1.0,0,8,1,0,0,34566.0,0.0,25000.0,12500.0,0,1,1
28,2,2,1.0,0,0,66347,1,1,62900.0,0.0,73900.0,62815.0,0,0,1
29,5,35,2.0,0,0,1,1,0,465000.0,0.0,465000.0,348750.0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49970,0,7,1.0,0,0,1,2,0,110000.0,0.0,110000.0,93500.0,0,0,1
49971,9,60,1.0,0,0,1,0,0,220000.0,0.0,462800.0,379496.0,0,0,1
49972,8,10,1.0,0,0,1,1,0,80000.0,0.0,80000.0,60000.0,0,0,1
49973,7,3,1.0,2,3,1,1,0,140000.0,0.0,70000.0,35000.0,1,1,1
49974,1,4,1.0,0,0,0,0,0,188000.0,0.0,188000.0,141000.0,0,0,0
49975,8,1,2.0,0,1,0,1,0,10000.0,0.0,10000.0,8500.0,0,1,0
49976,11,16,1.0,0,0,1,0,0,500000.0,0.0,500000.0,425000.0,0,0,1
49977,4,4,2.0,2,4,1,1,0,207000.0,0.0,207000.0,155250.0,1,1,1
49978,1,2,1.0,0,2,1,1,0,10000.0,0.0,10000.0,5000.0,0,1,1
49979,0,13,2.0,5,13,0,1,0,29000.0,0.0,20000.0,10000.0,1,1,0
49980,7,3,1.0,4,3,0,1,0,35000.0,0.0,35000.0,17500.0,1,1,0
49981,1,4,1.0,0,4,1,1,0,39262.0,0.0,50000.0,25000.0,0,1,1
49982,20,65,1.0,25,0,1,1,0,489000.0,0.0,513000.0,513000.0,1,0,1
49983,10,2,2.0,2,2,52070,1,0,188600.0,0.0,188600.0,141450.0,1,1,1
49984,7,5,1.0,3,8,1,1,0,18000.0,0.0,18000.0,9000.0,1,1,1
49985,7,3,1.0,2,3,1,1,0,25000.0,0.0,25000.0,21250.0,1,1,1
49986,15,3,1.0,0,0,1,0,0,20000.0,0.0,20000.0,18000.0,0,0,1
49987,25,3,1.0,0,0,1,0,0,656000.0,0.0,656000.0,492000.0,0,0,1
49988,0,1,1.0,1,1,0,1,0,51317.0,0.0,20000.0,10000.0,1,1,0
49989,4,5,1.0,4,5,0,1,0,31526.0,0.0,25000.0,12500.0,1,1,0
49990,7,12,2.0,0,0,0,0,0,60000.0,0.0,60000.0,54000.0,0,0,0
49991,10,2,1.0,0,0,1,0,1,70000.0,0.0,70000.0,63000.0,0,0,1
49992,0,11,1.0,0,0,1,1,1,150000.0,0.0,150000.0,127500.0,0,0,1
49993,10,15,1.0,0,0,1,0,0,54000.0,0.0,54000.0,48600.0,0,0,1
49994,4,2,2.0,0,2,1,1,0,150000.0,0.0,150000.0,75000.0,0,1,1
49995,7,1,1.0,0,1,1,1,0,46231.0,0.0,30000.0,15000.0,0,1,1
49996,6,6,1.0,0,6,1,1,0,49750.0,0.0,50000.0,25000.0,0,1,1
49997,18,1,1.0,0,0,1,0,0,260000.0,0.0,260000.0,221000.0,0,0,1
49998,9,12,2.0,0,0,1,0,0,1193500.0,0.0,1193500.0,749995.0,0,0,1
49999,4,31,1.0,0,0,1,0,0,80000.0,0.0,80000.0,64000.0,0,0,1

In [265]:
from sklearn.impute import SimpleImputer 
my_imputer = SimpleImputer()
train_X = my_imputer.fit_transform(train_X)
test_X = my_imputer.transform(test_X)

#Scaling features with Standart Scaler
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
train_sc =scaler.fit_transform(train_X)
test_sc = scaler.transform(test_X)

In [276]:
import os
import xgboost as xgb
# os.environ['KMP_DUPLICATE_LIB_OK']='True'
#Train the XGboost Model for Classification
#Model with default parameters
model = xgb.XGBClassifier()
train_model = model.fit(train_sc, train_y)

In [277]:
from sklearn.metrics import classification_report
pred = train_model.predict(test_X)
print('Model XGboost Report %r' % (classification_report(test_y, pred)))

Model XGboost Report '              precision    recall  f1-score   support\n\n           0       0.51      1.00      0.67      6257\n           1       0.73      0.01      0.02      6155\n\n    accuracy                           0.51     12412\n   macro avg       0.62      0.50      0.34     12412\nweighted avg       0.62      0.51      0.35     12412\n'

In [278]:
from sklearn.metrics import accuracy_score
print("Accuracy for model: %.2f" % (accuracy_score(test_y, pred) * 100))

Accuracy for model: 50.68

In [279]:
pred[:10]

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0], dtype=int64)

In [281]:
train_y[:10]

22815    0
24377    1
12571    1
33647    0
25483    0
31520    1
35204    1
27566    1
30388    0
12763    1
Name: MIS_Status, dtype: int64